<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cafe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/Design/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Design/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
          rel="stylesheet">
    <link href="/Design/css/font-awesome.css" rel="stylesheet">
    <link href="/Design/css/style.css" rel="stylesheet">
    <link href="/Design/css/pages/dashboard.css" rel="stylesheet">
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="/Design/css/pages/plans.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="">Cafe-Automation/Admin</a>
                <div class="nav-collapse">

                    <form class="navbar-search pull-right">
                        <a></a>
                    </form>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!-- /container -->
        </div>
        <!-- /navbar-inner -->
    </div>
    <!-- /navbar -->
    <div class="subnavbar">
        <div class="subnavbar-inner">
            <div class="container">
                <ul class="mainnav">
                    <li class="active"><a href="@Url.Action("Index","Home")"><i class="icon-th-large"></i><span>MASALAR</span> </a> </li>
                    <li><a href="@Url.Action("Index","Kullanici")"><i class="icon-group"></i><span>KULLANICILAR</span> </a> </li>
                    <li><a href="@Url.Action("Index","Kategori")"><i class="icon-search"></i><span>KATEGORİ</span> </a></li>
                    <li><a href="@Url.Action("Index","Product")"><i class="icon-lemon"></i><span>ÜRÜN</span> </a> </li>
                    <li><a href="@Url.Action("Index","Masa")"><i class="icon-cog"></i><span>MASA AYAR</span> </a> </li>
                    <li>
                        <a href="@Url.Action("Index","Rapor")" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-bar-chart"></i><span>RAPOR</span> <b class="caret"></b></a>
                        
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /container -->
        </div>
        <!-- /subnavbar-inner -->
    </div>
    <!-- /subnavbar -->
    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog" style="border:5px solid #ffffff;">
        <a href="#close" title="Close" class="modal-close-btn">X</a>
        <div class="modal-content" style="width:500px !important;margin:10px auto !important;">
            <div class="modal-body">
            </div>
        </div>
    </div>
    @RenderBody()
    <!-- /main -->
    <!-- /extra -->
    <div class="extra">
        <div class="extra-inner">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <h4>
                            Soru ve Görüşleriniz İçin
                        </h4>
                        <ul>
                            <li><a href="javascript:;"> + 282 6865050</a></li>
                            <li><a href="javascript:;"> info@cafeautomation.com</a></li>
                            <li><a href="javascript:;"> </a></li>
                           
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4></h4>
                        <ul>
                            <li><a href="javascript:;"> </a></li>
                            <li><a href="javascript:;"> </a></li>
                            <li><a href="javascript:;"> </a></li>
                            <li><a href="javascript:;"> </a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4></h4>
                        <ul>
                            <li><a href="javascript:;"> </a></li>
                            <li><a href="javascript:;"> </a></li>
                            <li><a href="javascript:;"> </a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span3">
                        <h4>
                            Sosyal Medya Hesaplarımız
                        </h4>
                        <ul>
                            <li><a href="">Twitter</a></li>
                            <li><a href="">Instagram</a></li>
                            <li><a href="">Facebook</a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /extra-inner -->
    </div>
    <div class="footer">
        <div class="footer-inner">
            <div class="container">
                <div class="row">
                    <div class="span12"> © CreatedBy <a href="#">Emre</a>. </div>
                    <!-- /span12 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /footer-inner -->
    </div>
   
    <!-- /footer -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/Design/js/jquery-1.7.2.min.js"></script>
    <script src="/Design/js/excanvas.min.js"></script>
    <script src="/Design/js/chart.min.js" type="text/javascript"></script>

    <script src="/Design/js/bootstrap.js"></script>

    <script language="javascript" type="text/javascript" src="js/full-calendar/fullcalendar.min.js"></script>

    <script src="~/Scripts/toastr.min.js"></script>

    <script src="js/base.js"></script>
    <script src="assets/demo.js"></script>
    <script>

        var lineChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    data: [65, 59, 90, 81, 56, 55, 40]
                },
                {
                    fillColor: "rgba(151,187,205,0.5)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    data: [28, 48, 40, 19, 96, 27, 100]
                }
            ]

        }

        var myLine = new Chart(document.getElementById("area-chart").getContext("2d")).Line(lineChartData);


        var barChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,1)",
                    data: [65, 59, 90, 81, 56, 55, 40]
                },
                {
                    fillColor: "rgba(151,187,205,0.5)",
                    strokeColor: "rgba(151,187,205,1)",
                    data: [28, 48, 40, 19, 96, 27, 100]
                }
            ]

        }



        $(document).ready(function () {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            var calendar = $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                selectable: true,
                selectHelper: true,
                select: function (start, end, allDay) {
                    var title = prompt('Event Title:');
                    if (title) {
                        calendar.fullCalendar('renderEvent',
                            {
                                title: title,
                                start: start,
                                end: end,
                                allDay: allDay
                            },
                            true // make the event "stick"
                        );
                    }
                    calendar.fullCalendar('unselect');
                },
                editable: true,
                events: [
                    {
                        title: 'All Day Event',
                        start: new Date(y, m, 1)
                    },
                    {
                        title: 'Long Event',
                        start: new Date(y, m, d + 5),
                        end: new Date(y, m, d + 7)
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: new Date(y, m, d - 3, 16, 0),
                        allDay: false
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: new Date(y, m, d + 4, 16, 0),
                        allDay: false
                    },
                    {
                        title: 'Meeting',
                        start: new Date(y, m, d, 10, 30),
                        allDay: false
                    },
                    {
                        title: 'Lunch',
                        start: new Date(y, m, d, 12, 0),
                        end: new Date(y, m, d, 14, 0),
                        allDay: false
                    },
                    {
                        title: 'Birthday Party',
                        start: new Date(y, m, d + 1, 19, 0),
                        end: new Date(y, m, d + 1, 22, 30),
                        allDay: false
                    },
                    {
                        title: 'EGrappler.com',
                        start: new Date(y, m, 28),
                        end: new Date(y, m, 29),
                        url: 'http://EGrappler.com/'
                    }
                ]
            });
        });
    </script><!-- /Calendar -->
</body>
</html>
